.height{
    &_100{
      height: 100px;
    }
    &_90{
      height: 90px;
    }
    &_80{
      height: 80px;
    }
    &_70{
      height: 70px;
    }
    &_60{
      height: 60px;
    }
    &_50{
        height: 50px;
    }
    &_40{
        height: 40px;
    }
    &_30{
        height: 30px;
    }
    &_20{
        height: 20px;
    }
    &_10{
        height: 10px;
    }
}

.width{
    &_100{
      width: 100px;
    }
    &_90{
      width: 90px;
    }
    &_80{
      width: 80px;
    }
    &_70{
      width: 70px;
    }
    &_60{
      width: 60px;
    }
    &_50{
        width: 50px;
    }
    &_40{
        width: 40px;
    }
    &_30{
        width: 30px;
    }
    &_20{
        width: 20px;
    }
    &_10{
        width: 10px;
    }
}