//TODO: Test borders (.border_colour)

.Border_black{
    border: 1px solid black;
}

.Border_red{
    border: 1px solid red;
}

.Border_blue{
    border: 1px solid blue;
}

.Border_green{
    border: 1px solid green;
}

.BorderRadius{
    &10{
        border-radius: 10%;
    }
    &20{
        border-radius: 20%;
    }
    &30{
        border-radius: 30%;
    }
    &40{
        border-radius: 40%;
    }
    &50{
        border-radius: 50%;
    }
}