// Change colour values based on your site

// Theme
$color-main: rgb(255,255,255);
$color-secondary: rgb(255,255,255);

// Navbar
$color-navbar: rgb(255,255,255);
$color-navbar-links: rgb(255,255,255);

// Backgrounds
$color-primary-bg : rgb(255,255,255);
$color-secondary-bg: rgb(255,255,255);

// Buttons
$color-btn-primary: rgb(255,255,255);

// Links

// Footer

// Font
$color-font-primary: rgb(255,255,255);
$color-font-secondary: rgb(255,255,255);

